.caption {
    display: none;
}

body {
    background-color: #FFFCF9;
    font-size: 62.5%;
    font-family: $sansSerif;
    color: $secondaryHex;
    height: 100vh;
}
main {
    padding-top: 5rem;
}
.wrapper, .artWrapper {
    margin: 0 auto;
    max-width: 1800px;
}
.wrapper {
    width: 90%;
}
.artWrapper {
    display: flex;
    flex-direction: row-reverse;
}
.highlight {
    position: fixed;
    left: 0;
    width: 50%;
    &__container {
        width: 100%;
        border: 1px solid $secondaryHex;
        border-right: none;
    }
    & img {
        width: 100%;
        display: block;
    }
}
header {
    background-color: $accentHex;
    color: $primaryHex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    border-bottom: 1px solid black;

    & .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
h1 {
    font-size: $h1Size;
    font-family: $serif;
    margin: 0;
    padding: 1.25rem 0;
}

.gallery {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
    padding-bottom: 2rem;
}

.galleryThumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    // height: #{width};
    max-width: 30rem;
    max-height: 30rem;
    overflow: hidden;
    // object-fit: scale-down;
    // object-position: 50% 50%;
    border: 1px solid black;
    & img {
        min-height: 100%;
    }
}
footer {
    background-color: $accentHex;
    color: $primaryHex;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}