@media (max-width: 940px) {
    header {
        height: 11rem;
    }
    header .wrapper {
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }
    main {
        margin-top: 11rem;
    }
    .gallery,
    .highlight {
        height: calc(100vh - 13rem);
    }
    .highlight img {
        max-width: 100%;
    }
    .galleryThumbnail img {
        max-height: 150px;
    }
}

@media (max-width: 480px) {
    .gallery {
        width: 25%;
        align-content: flex-start;
    }
    .highlight {
        width: 75%;
    }
}