$primaryHex: #FFFCF9;
$secondaryHex: #171A21;
$primaryAccentHex:  #9D695A;
$secondaryAccentHex: #FFA400;

$serif: 'Prata', serif;
$sansSerif: 'Roboto', sans-serif;

$h1Size: 2.5rem;
$h2Size: 2rem;
$pSize: 1.2rem;